:root{
    /*
    --color1:#0c0032;
    --color2:#190061;
    --color3:#240090;
    --color4:#3500d3;
    --color5:#282828;
    */
    --color1:#5f87aa;
    --color2:#644e5b;
    --color2a:#3b2f36;
    --color3:#9e5a63;
    --color4:#c96567;
    --color5:#97aadd;
    --color6:#ada296;
    --color7:#3b413c;
    --color8:#5c573e;
    --color9:#cfb9a5;
    --color10:#225a2f;
    --color11:#937b63;
    --color12:#889EAF;
    --color13:#D4B499;
    --color14: #5b644e;
}

html{
    font-size: 62.5%;
    
} 

body{
    height:1570px;  
    position: relative;
    margin:0;
    padding:0;
    font-family: 'Roboto', Arial, Verdana, sans-serif;

}

header{
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    position: fixed;
    top:0;
    background: linear-gradient(          /* TEMPORARY TEMPORARY TEMPORARY TEMPORARY TEMPORARY or not */
        90deg,
        transparent,
        transparent
        /*var(--color2)*/
    );
    background: hsla(0, 0%, 100%, 0.068); /* Adjust transparency here */
    backdrop-filter: blur(5px); 
}

nav > ul{                                     
    display: flex; 
    margin: 0;
    padding: 0%;
}


.nav-bar ul li {    
    cursor: pointer;   
    color: white;
}

nav li{
    margin: 0;
    display: block;
    font-size: 2rem;
    margin-right:0px;  
    text-decoration: none;  
    font-family: 'Roboto', sans-serif;
    line-height:72px;
    padding-left: 20px;
    padding-right: 20px;
    
}

nav li:last-child{
    margin-right:25px;
}

nav li a{
    text-decoration: none;
    font-size: 2.1rem;
    color: white;
}

nav li:hover{
    background: hsla(0, 0%, 100%, 0.068); 
    backdrop-filter: blur(5px); 
}

#welcome-section{
    width:100%;
    height:100vh; /* height of screen */
    background-image: url('https://wallpapers.com/images/hd/minimalist-persona-3-male-protagonist-37knmvd0e1eptija.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

#welcome-section h1,p{
    margin-top:0;
    margin-bottom: 0;
    line-height: 6rem;
    font-family: 'Roboto', sans-serif; /* TEMPORARY TEMPORARY TEMPORARY TEMPORARY TEMPORARY or not */
    
}

#num1{
    font-size: 3rem;
    color:white;
    padding-left: 3px;
}

#num2{
    font-size: 5.5rem;
    background-image: linear-gradient(
     to right,
     white,
     var(--color2)  /*--color2 good*/
     ); /* Replace the colors as per your gradient */
     -webkit-background-clip: text; /* For Safari/WebKit based browsers */
    background-clip: text;
    color: transparent;
    
}

#num3{
    font-size: 3rem;
    font-style: italic;
    color:white;
    padding-left: 3px;
}

#projects{
    width:100%;
    height:100vh;
    background-color: var(--color6);
    
}

#projects h2{
    margin-top: 0;
    padding-top: 65px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-weight:600;
}

.divider{
    border: 1px solid white;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top:0;
    margin-left: auto;
    margin-right:auto;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(3, 0.1fr); /* Creates three equal-width columns */
    gap: 5%;
    justify-content: center;
    align-items: center;
}

#image{
    height:350px;
    width:350px;
    object-fit: cover;
}

.project1{
    border:none;
    padding-bottom: 25px;
    background-color: var(--color1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    display: grid;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.project-tile h1{
    margin:0;
    padding:0;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    display:flex;
    justify-content: center;
    padding-top: 24px;
    
}

#project-link{
    color:white;
    text-decoration: none;
    height:100%;
    
}

#project-link .arrow {
    display: inline-block;
    color: transparent;
    transition: color 0.3s ease;
}

#project-link:hover .arrow {
    color: white/*var(--color11)*/;
}

#Contact{
    width:100%;
    height:80vh;
    background-color: var(--color14); /*5,7*/
}

h3{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 7rem;
    font-weight:600;
    
}

.Contact-description p{
    font-size: 3rem;
    font-weight: 200;
    margin: 0;
    font-style: italic;
}

.Contact-description{
    display: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding-top: 15%;
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 5rem;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.social-icons i{
    font-size: 3.5rem;
    margin: 0 15px; /* Small gap between icons */
    color: white;
}

.divider1{
    border: 1px solid white;
    width:60%;
    margin:0 auto;
}

.footer-content{
    height:20vh;
    background-color: var(--color14);
    display: flex; /* Use flexbox to achieve the desired layout */
    justify-content: space-around; /* Spread the content between the edges */
    align-items: center;
}

footer p{
    font-size: 2rem;
    color: white;   
    margin:0;
    font-weight: 200;
}

footer a{
    color:white;
    text-decoration: none;
}


.music{

    position: relative;

    display: inline-flex;

    justify-content: space-between;

    align-items: center;

    width: 300px;

    height: 200px;

}

.music .bar{

    width: 12px;

    background: #fff;

    border-radius: 10px;

    animation: loader 1.5s ease-in-out infinite;

}

@keyframes loader{

    0%{

        height: 2px;

    }

    50%{

        height: 80px;

    }

    100%{

        height: 2px;

    }

}

.music .bar:nth-child(1){

    background: purple;

    animation-delay: 1s;

}

.music .bar:nth-child(2){

    background: crimson;

    animation-delay: 0.8s;

}

.music .bar:nth-child(3){

    background: deeppink;

    animation-delay: 0.6s;

}

.music .bar:nth-child(4){

    background: orange;

    animation-delay: 0.4s;

}

.music .bar:nth-child(5){

    background: gold;

    animation-delay: 0.2s;

}

.music .bar:nth-child(6){

    background: gold;

    animation-delay: 0.2s;

}

.music .bar:nth-child(7){

    background: gold;

    animation-delay: 0.4s;

}

.music .bar:nth-child(8){

    background: deeppink;

    animation-delay: 0.6s;

}

.music .bar:nth-child(9){

    background: crimson;

    animation-delay: 0.8s;

}

.music .bar:nth-child(10){

    background: purple;

    animation-delay: 1s;

}

.hidden-audio {
    display: auto;
    margin-top: 0 auto;
    /* position: absolute; */
    /* opacity: 0; 
    top: 299px; 
    left: 459px;  */
}

/* Adjustments for screens smaller than 768px */
@media screen and (max-width: 800px) {
    body, header, nav > ul, .nav-bar ul li, nav li, nav li:last-child, nav li a, nav li:hover, #welcome-section, #welcome-section h1,p ,#num1, #num2, #num3, #projects, #projects h2, .divider, .project-container, #image, .project1, .project-tile h1, #project-link, #project-link .arrow , #project-link:hover .arrow , #Contact, h3, .Contact-description p, .Contact-description, .social-icons, .social-icons i, .divider1, .footer-content, footer p, footer a, .music, .music .bar, .music .bar:nth-child(1), .music .bar:nth-child(2), .music .bar:nth-child(3), .music .bar:nth-child(4), .music .bar:nth-child(5), .music .bar:nth-child(6), .music .bar:nth-child(7), .music .bar:nth-child(8), .music .bar:nth-child(9), .music .bar:nth-child(10) {
        width: 100%;
    }
}